html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "TrajanPro";
}

.rotated-container {
    width: 100vh;
    height: 100vw;

    transform: rotate(90deg) translateY(-100%);
    transform-origin: top left;
    position: absolute;
    top: 0;
    left: 0;
}

body.start-page {
    background: url('img/start-bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

body.index-page {
    background: url('img/index-bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

body.end-page {
    background: url('img/end-bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.wrapper {
    position: relative;
    width: 512px;
    overflow: visible !important;
    padding: 20px;
    background-color: transparent;
    /* background-color: rgba(255, 255, 255, 0.7); */
    /* box-shadow: 4px 4px 20px 0 rgba(0,0,0,0.2); */
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#puzzle-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px 0;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    /* background-color: transparen; */
}

.timer-container {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.message-container {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    height: 30px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0288d1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    font-family: "TrajanPro";
    font-weight: bolder;
}

button:hover {
    background-color: #015f92;
}

#end-container {
    text-align: center;
}

@font-face {
    font-family: "TrajanPro";
    src: url("fonts/TrajanPro3Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}